.animation-container
  width: 60%
  height: 700px
  display: flex
  margin-left: auto
  position: relative

.circle
  border: 1px solid rgb(0, 0, 0)
  border-radius: 50%
  position: absolute

.outer-circle
  width: 400px
  height: 400px
  top: 100px
  left: 100px

.inner-circle
  width: 320px
  height: 320px
  top: 140px
  left: 140px

.dot
  position: absolute
  top: 0
  left: 0
  background: rgb(0, 0, 0)
  border-radius: 50%

.dot-outer
  width: 40px
  height: 40px

.dot-inner
  width: 25px
  height: 25px

.animation-circle-orbit
  position: absolute
  animation-iteration-count: infinite
  animation-timing-function: linear
  animation-name: orbit

.outer
  width: 322px
  height: 322px
  top: 140px
  left: 140px
  animation-duration: 7s

.inner
  width: 253px
  height: 253px
  top: 180px
  left: 175px
  animation-duration: 6s

  //.deform
  //  width: 200px
  //  height: 130px
  //  border: 1px solid rgb(0, 0, 0)
  //  position: absolute
  //  top: 345px
  //  left: 200px
  //  transform: rotate(110deg) scaleX(3)
  //  border-radius: 50%
  //
  //.rotate
  //  width: 100%
  //  height: 100%
  //  animation: circle 10s infinite linear
  //  transform-origin: 50% 50%
  //
  //.contr-rotate
  //  width: 50px
  //  height: 50px
  //  animation: ccircle 10s infinite linear
  //
  //.inner
  //  width: 20px
  //  height: 20px
  //  border-radius: 50%
  //  position: absolute
  //  left: 0
  //  top: 0
  //  background-color: rgb(0, 0, 0)
  //  transform: rotate(90deg) scaleY(0.33)
  //
  //@keyframes circle
  //  from
  //    -webkit-transform: rotateZ(0deg)
  //  to
  //    -webkit-transform: rotateZ(360deg)
  //
  //@keyframes ccircle
  //  from
  //    -webkit-transform: rotateZ(360deg)
  //  to
  //    -webkit-transform: rotateZ(0deg)

@keyframes orbit
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)


@media screen and (max-width: $smallBreakpoint)
  .animation-container
    width: 100%
