.contacts-container
  width: 100%
  margin-top: 70px
  font-family: $secondary-font
  color: $black
  font-weight: 300

  &-inner
    display: flex
    justify-content: space-between
    flex-wrap: wrap

.social-icons-container
  max-width: 100px
  display: flex
  justify-content: flex-start
  margin-bottom: 10px

  & ~ a
    &::selection
      background-color: yellow

    &:hover
      background-color: yellow

.social-icon
  width: 30px
  height: 30px
  margin-right: 10px

.social-links-container
  padding: 5px

@media screen and (max-width: $largeBreakpoint)
  .contacts-container
    margin-top: 40px

  .social-links-container
    padding: 5px
    font-size: 16px

@media screen and (max-width: $mediumBreakpoint)
  .contacts-container
    margin-top: 30px

    &-inner
      justify-content: flex-start

@media screen and (max-width: $extraSmallBreakpoint)

  .contacts-container
    margin-top: 20px
    padding-bottom: 40px

    &-inner
      flex-direction: column
      justify-content: space-between

  .social-links-container
    display: flex
    flex-direction: row

