.projects-container
  height: 100vh
  background-color: #ffffff
  color: $black
  position: relative
  font-family: $secondary-font
  transform: translateX(0)

  &-inner
    position: absolute
    display: flex
    height: 100%
    width: 100vw

  &-bottom-line
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between

.project-overview
  width: 60%
  display: flex
  flex-direction: column
  align-content: center
  padding: 20px

  &-inner
    margin: auto
    padding: 0 100px


.project-name
  text-transform: uppercase
  font-size: 40px
  &::selection
    background-color: $bright-purple

.project-description
  font-weight: 300
  & > p > span, & > p
    &::selection
      background-color: $bright-purple

.projects-slider
  display: flex
  flex-direction: row
  width: 50%
  justify-content: space-between
  margin-top: 20px
  text-transform: uppercase
  font-weight: 100

.project-details-button
  cursor: pointer
  &::selection
    background-color: $bright-purple

.project-technologies-button
  cursor: pointer
  &::selection
    background-color: $bright-purple

.project-image-main
  width: 30%
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center

  &:hover > img
    filter: none
    transition: filter 0.6s

  img
    object-fit: contain
    filter: grayscale(100%)
    transition: filter 0.6s
    height: 50%
    margin: 0 auto

.projects-container-headline
  text-transform: uppercase

  &::selection
    background-color: $bright-purple

.project-arrows
  display: flex
  justify-content: space-between
  text-transform: uppercase
  cursor: pointer

  &-icon
    width: 30px
    height: 30px
    object-fit: contain

  &-icon-left
    transform: rotate(180deg)

.project-name-small
  padding: 0 20px

  &::selection
    background-color: $bright-purple

.project-number-container
  padding: 20px
  display: flex
  flex-direction: column
  justify-content: flex-end

.project-number
  &::selection
    background-color: $bright-purple

  &-mobile
    display: none

@for $i from 0 to 10
  .projects-container-inner:nth-child(#{$i + 1})
    transform: translateX($i * 100%)

  .projects-container-#{$i}
    transform: translateX($i * -100%)
    transition: transform 1s ease-in-out


@media screen and (max-width: $smallBreakpoint)
  .projects-container
    height: 100vh

    &-headline
      display: none

    &-bottom-line
      justify-content: flex-start

  .projects-container-inner
    flex-wrap: wrap

  .project-overview
    width: 100%

    &-inner
      padding: 0
      margin: 10px 0 20px

  .projects-slider
    width: 100%

  .project-image-main
    width: 100%
    height: 80%
    flex-direction: row
    padding: 0 20px

  .project-name
    text-transform: uppercase
    font-size: 26px

  .project-number-container
    display: none

  .project-number-mobile
    display: block
    padding-right: 30px
